
body {
    /* background-color: #ffdd91; */

    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 290%);
    font-weight: bold;
}


/* Header */
.title h1 {
    font-family: "DynaPuff", system-ui;
    color: #fee438;
    text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
    letter-spacing: 2px;
}

.title img {
    width: 15%;
}


/* Check Age Button */
.questionMark img {
    width: 80%;
}

.questionMark img:hover {
    transform: scale(1.1);
}


/* Age Results */
.ageResult h1 {
    font-family: "DynaPuff", system-ui;
    color: #fee438;
    text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
    letter-spacing: 2px;
}