
body {
    background-color: #ffdd91;
}

.title h1 {
    color: #f95750;
    text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
    letter-spacing: 1px;
}

/* Header */
.title img {
    width: 15%;
}


/* Check Age Button */
.questionMark {
    margin-left: 38%;
}

.questionMark img {
    width: 15%;
}